html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
#root {
  width: 100%;
  height: 100%;
}

.home {
  width: 100%;
}

nav > img {
  width: 40px;
  vertical-align: middle;
}

nav {
  box-shadow: 0 4px 4px 0 #eee;
  width: 100%;
  padding: 4px 8px;
}

nav > span {
  height: 40px;
  line-height: 40px;
  margin-left: 16px;
}

.apps {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}

.apps > div {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eaeaea;
  margin: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}

.apps > div:hover {
  box-shadow: 0 4px 4px 0 #eee;
}

.login {
  position: absolute;
  right: 24px;
  cursor: pointer;
}

a {
  text-decoration: none;
}
